
            body  {
                background-image: url("PWM_i.png");
                  
                background-repeat:no-repeat;
                  
                background-size: 100%;
                 
                }
            #login {
                background-color: white;
                width: 30%;
                padding: 2%;
                position: absolute;
                right: 5%;
                top: 30%;
                border: 1px solid blue;
                    
                }
            h1 {
               text-align: right;
                }
                
    